## importing library

In [45]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_csv('data/pandas.csv')

### 1. Import pandas and read the data into a DataFrame. Print the first 5 rows of the DataFrame.

In [47]:
#Print the first 5 rows of the DataFrame

In [48]:
print(df.head(5))

      Name  Gender  Age  Height (cm)  Weight (kg)         City
0    Alice  Female   25          165           58     New York
1      Bob    Male   30          180           80  Los Angeles
2  Charlie    Male   35          175           70      Chicago
3    Diana  Female   28          170           65        Miami
4      Eva  Female   27          175           60     New York

## 2. Print the number of rows and columns in the DataFrame

In [49]:
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 10
Number of columns: 6

## 3. Print the null value count

In [50]:
null_counts = df.isnull().sum()
print(null_counts)

Name           0
Gender         0
Age            0
Height (cm)    0
Weight (kg)    0
City           0
dtype: int64

## 4. Print the average age, height, and weight of the people in the DataFrame

In [51]:
Average_Age = df['Age'].mean()

print("Average Age:", Average_Age)

Average Age: 31.6

In [53]:

Average_Height = df["Height (cm)"].mean()

print("Average Height:",Average_Height, "cm")

Average Height: 175.0 cm

In [54]:
Average_Weight = df["Weight (kg)"].mean()

print("Average Weight:",Average_Weight, "kg")

Average Weight: 68.9 kg

## 5. Print the name and city of the person who is the tallest in the DataFrame.

In [55]:
tallest_person_index = df["Height (cm)"].idxmax()
tallest_person = df.loc[tallest_person_index]

print("Name of the tallest person:", tallest_person["Name"])
print("City of the tallest person:", tallest_person["City"])

Name of the tallest person: Frank
City of the tallest person: Houston

In [57]:
df = pd.DataFrame(df)

# Converting height from cm to m
df["Height (cm)"] = df["Height (cm)"] / 100

# Calculating BMI
df["BMI"] = df["Weight (kg)"] / (df["Height (cm)"] ** 2)

# Printing the DataFrame with the new column
print(df)

      Name  Gender  Age  Height (cm)  Weight (kg)         City        BMI
0    Alice  Female   25         1.65           58     New York  21.303949
1      Bob    Male   30         1.80           80  Los Angeles  24.691358
2  Charlie    Male   35         1.75           70      Chicago  22.857143
3    Diana  Female   28         1.70           65        Miami  22.491349
4      Eva  Female   27         1.75           60     New York  19.591837
5    Frank    Male   40         1.90           85      Houston  23.545706
6    Grace  Female   32         1.68           55      Chicago  19.486961
7    Henry    Male   45         1.75           75  Los Angeles  24.489796
8      Ivy  Female   26         1.72           63        Miami  21.295295
9     Jack    Male   28         1.80           78     New York  24.074074

## 7. Group the data by gender and print the average age, height, and weight of males and females separately.

In [58]:
df = pd.DataFrame(df)

# Grouping the data by gender
grouped_data = df.groupby("Gender")

# Calculating the average age, height, and weight for each gender
average_data = grouped_data.agg({"Age": "mean", "Height (cm)": "mean", "Weight (kg)": "mean"})

# Printing the average data for males and females separately
print("Average data by gender:")
print(average_data)

Average data by gender:
         Age  Height (cm)  Weight (kg)
Gender
Female  27.6          1.7         60.2
Male    35.6          1.8         77.6

## 8. Sort the data by age in ascending order and print the first 3 rows of the sorted DataFrame.

In [59]:
df = pd.DataFrame(df)

# Sorting the DataFrame by age in ascending order
sorted_df = df.sort_values(by="Age")

# Printing the first 3 rows of the sorted DataFrame
print("First 3 rows of the sorted DataFrame:")
print(sorted_df.head(3))

First 3 rows of the sorted DataFrame:
    Name  Gender  Age  Height (cm)  Weight (kg)      City        BMI
0  Alice  Female   25         1.65           58  New York  21.303949
8    Ivy  Female   26         1.72           63     Miami  21.295295
4    Eva  Female   27         1.75           60  New York  19.591837

## 9. Filter the data to only include people who live in New York and print the resulting DataFrame.

In [61]:
df = pd.DataFrame(df)

# Filtering the DataFrame to include only people who live in New York
new_york_data = df[df["City"] == "New York"]

# Printing the resulting DataFrame
print("People who live in New York:")
print(new_york_data)

People who live in New York:
    Name  Gender  Age  Height (cm)  Weight (kg)      City        BMI
0  Alice  Female   25         1.65           58  New York  21.303949
4    Eva  Female   27         1.75           60  New York  19.591837
9   Jack    Male   28         1.80           78  New York  24.074074